@import "tailwindcss";
@layer utilities {
  @media (max-width: 640px) {
    .sm-w {
      width: 80%;
    }
    .sm-mt {
      margin-top: 3rem;
    }
    .sm-text {
      font-size: 1rem;
    }
    .sm-display-none {
      display: none;
    }
    .sm-logo-nav {
      width: 10rem;
      height: 5rem;
    }
    .sm-nav-pad {
      padding: 0 10px;
    }

    .sm-flex-col {
      flex-direction: column;
    }
    .sm-jus-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
